<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('style', filename='styles.css') }}">
</head>
<body>
    <form> <!--formulário com campos e botoes-->

        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <label for="confirmSenha">Confirma Senha:</label>
        <input type="password" id="confirmSenha" name="confirmSenha" required>

        <label for="mensagem">Não perca essa senha!</label>

        <button type="button" onclick="cadastrar()">Cadastrar</button>
        <button type="button" onclick="backPage()">Voltar</button>
    </form>

    <script>
        function backPage(){
            window.location.href = '/';
        }

        function cadastrar() {
    
    var usuario = document.getElementById('usuario').value;
    var senha = document.getElementById('senha').value;
    var confirmSenha = document.getElementById('confirmSenha').value;

    // Cria objeto com os dados
    var usuarioData = {
        usuario: usuario,
        senha: senha,
        senha_confirm: confirmSenha
    };

    // chama API
    fetch('/cadastro_usu', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(usuarioData)
    })
    .then(response => response.json())
    .then(data => {
        // resposta da API 
        alert(data.mensagem);
    })
    .catch(error => console.error('Erro ao cadastrar usuário:', error));
}

    </script>
</body>
</html>
