<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8"> <!--suportar caracteres especiais-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--define a configuração para dispositivos móveis-->
    <title>Página de Login</title> 
    <link rel="stylesheet" href="{{ url_for('style', filename='styles.css') }}"> <!--link para o arquivo CSS que será usado-->
</head>
<body>   
    <form id="loginForm"> <!--abrindo formulário com inputs de login-->
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <!--botão para enviar o formulário de login, chamando a função fazerLogin() quando clicado-->
        <button type="button" onclick="fazerLogin()">Entrar</button> 
        <!-- botão para redirecionar para a página de cadastro, chamando a função cadastrar() quando clicado-->
        <button type="button" onclick="cadastrar()">Cadastrar</button>
    </form>

    <script>
    function fazerLogin() {
        //obtém o valor do elemento HTML com o id "username" e "password" e armazena nas variáveis username e password
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    //criando um objeto JavaScript chamado data, conténdo duas propriedades: usuario e senha, com os valores obtidos anteriormente
    var data = {
        usuario: username,
        senha: password
    };
    //faz solicitação HTTP utilizando a função fetch()
    fetch('/login', {
        method: 'POST', //fazendo uma solicitação POST para o servidor
        headers: { //definindo os cabeçalhos da solicitação, dizendo ao servidor que o corpo da solicitação está no formato JSON
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data) //enviando os dados do usuário (nome de usuário e senha) como JSON no corpo da solicitação
    })
    .then(response => {
        if (response.ok) {
            //redireciona para a página do usuário logado
            window.location.href = '/usuarios/' + username;
        } else {
            //exibe a mensagem de erro retornada pela API
            return response.json().then(data => {
                alert(data.mensagem);
            });
        }
    })
    //Se houver algum erro durante a solicitação, catch irá capturar a mensagem de erro que será exibida no console do navegador
    .catch(error => console.error('Erro:', error)); 
}



        function cadastrar() {
            //redireciona o usuário para a pagina de cadastro
            window.location.href = '/cadastro';
        }
    </script>
</body>
</html>
