<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seja bem vindo {{nome_usuario}}</title> <!-- bem vindo usuario de forma dinamica -->
    <link rel="stylesheet" href="{{ url_for('style', filename='styles.css') }}"> <!--importa css-->
</head>

<body>
    <form> <!--formulário com campos e botoes-->
        <label for="Gpassword">Senha Gerada:</label>
        <input type="text" id="Gpassword" name="Gpassword" required>

        <button type="button" onclick="GerarSenha()">Gerar Senha</button>
        <button type="button" onclick="SalvaSenha()">Salvar Senha</button>

        <p></p>

        <label for="site">Site:</label>
        <input type="site" id="site" name="site" required>

        <label for="login">Login:</label>
        <input type="login" id="login" name="login" required>

        <button type="button" onclick="mostraSenha()">Mostra Senha</button>
        <button type="button" onclick="voltaPag()">Sair</button>
        <h1></h1>
        <div id="blocoNotas" contenteditable="true">
          </div>
          
    </form>

    <script>
        function voltaPag(){
            window.location.href = '/';
        }

        function GerarSenha() {   //função para gerar senha
            fetch('/api/generate_password')
            .then(response => response.json())
            .then(data => {
                document.getElementById("Gpassword").value = data.password;
            })
            .catch(error => {
                console.error('Erro ao gerar a senha:', error);
                alert('Erro ao gerar a senha.');
            });
        }

        function SalvaSenha() {   //função para salvar senha
    var nome_usuario = document.querySelector("title").textContent.trim().replace("Seja bem vindo ", "");
    var senha = document.getElementById("Gpassword").value;
    var site = document.getElementById("site").value;
    var login = document.getElementById("login").value;

    // Verifica se todos os campos estão preenchidos
    if (nome_usuario && senha && site && login) {
        var data = {
            usuario: nome_usuario,
            senha_gerada: senha,
            site: site,
            login: login
        };

        fetch('/salvar_dados', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            // Exibe o retorno da API
            alert(data.message); //
            return data; 
        })
        .catch(error => {
            console.error('Erro:', error);
            alert('Erro ao salvar os dados. Por favor, tente novamente.');
        });
    } else {
        alert("Por favor, preencha todos os campos.");
    }
}


function mostraSenha() {    
    // pega o nome do usuário da tag <title>
    var nome_usuario = document.querySelector("title").textContent.trim().replace("Seja bem vindo ", "");

    // Verifica usuário
    if (nome_usuario) {
        // faz uma solicitação para a API
        fetch('/recuperar_dados/' + nome_usuario)
        .then(response => response.json())
        .then(data => {
            // retorna mensagem de erro 
            if (data.message) {
                alert(data.message);
            } else {
                // atualiza div com os dados recuperados
                var blocoNotas = document.getElementById("blocoNotas");
                blocoNotas.innerHTML = ""; // Limpa o conteúdo anterior

                // organiza formato a ser visualizado
                data.forEach(function(item) {
                    var divSenha = document.createElement("div");
                    divSenha.innerHTML = `
                        <p>Site: ${item.site}</p>
                        <p>Login: ${item.login}</p>
                        <p>Senha Gerada: ${item.senha_gerada}</p>
                        <hr>
                    `;
                    blocoNotas.appendChild(divSenha);
                });
            }
        })
        .catch(error => {
            console.error('Erro ao recuperar a senha:', error);
            alert('Erro ao recuperar a senha.');
        });
    } else {
        alert('Nome de usuário não encontrado.');
    }
}



    </script>
</body>
</html>
